Repository Pocket/pocket-ios, pull requests merged in 2023-08, with the labels that each got.

#808 feat(collections): open story from collections
  PocketKit/Sources/PocketKit/Collections/CollectionStoryViewModel.swift
  PocketKit/Sources/PocketKit/Collections/CollectionViewController.swift
  PocketKit/Sources/PocketKit/Collections/CollectionViewModel.swift
  PocketKit/Sources/PocketKit/Home/HomeViewController.swift
  PocketKit/Sources/PocketKit/Home/HomeViewModel.swift
  PocketKit/Sources/PocketKit/Home/SlateDetailViewModel.swift
  PocketKit/Sources/PocketKit/MyList/ItemsList/UIKit/SavedItemsList/SavedItemsListViewModel.swift
  PocketKit/Sources/PocketKit/MyList/SavesContainerViewController.swift
  PocketKit/Sources/Sync/Collection/CollectionStoryModel.swift
  PocketKit/Tests/PocketKitTests/Collections/CollectionViewModelTests.swift
  PocketKit/Tests/PocketKitTests/SlateDetailViewModelTests.swift
Labels: Native Collections

#818 feat(collections): implement analytics
  PocketKit/Sources/Analytics/AppEvents/Collection.swift
  PocketKit/Sources/PocketKit/Collections/CollectionStoryViewModel.swift
  PocketKit/Sources/PocketKit/Collections/CollectionViewController.swift
  PocketKit/Sources/PocketKit/Collections/CollectionViewModel.swift
  PocketKit/Sources/PocketKit/MyList/SavesContainerViewController.swift
Labels: Native Collections

#825 feat(collection): add sub collections
  PocketKit/Sources/PocketKit/Collections/CollectionViewModel.swift
  PocketKit/Sources/PocketKit/Home/HomeViewController.swift
  PocketKit/Sources/PocketKit/MyList/SavesContainerViewController.swift
  PocketKit/Sources/Sync/RemoteMapping/Item+remoteMapping.swift
  PocketKit/Tests/PocketKitTests/Collections/CollectionViewModelTests.swift
Labels: Native Collections

#824 feat(collections): add error / offline view
  PocketKit/Sources/PocketKit/Collections/CollectionViewController.swift
  PocketKit/Sources/PocketKit/Collections/CollectionViewModel.swift
  PocketKit/Sources/PocketKit/MyList/EmptyStates/EmptyStateView.swift
  PocketKit/Sources/PocketKit/MyList/EmptyStates/EmptyStateViewModel.swift
  PocketKit/Sources/PocketKit/MyList/EmptyStates/Search/ErrorEmptyState.swift
  PocketKit/Sources/PocketKit/MyList/SearchItemsList/SearchView.swift
  PocketKit/Sources/PocketKit/MyList/SearchItemsList/SearchViewModel.swift
  PocketKit/Sources/PocketKit/Report/ReportIssueButton.swift
  PocketKit/Tests/PocketKitTests/Collections/CollectionViewModelTests.swift
  PocketKit/Tests/PocketKitTests/Support/MockSource.swift
  PocketKit/Tests/PocketKitTests/Support/Space+factories.swift
Labels: Native Collections

#829 Core Data Migration - Add mapping from PocketModel to PocketModel-3
  PocketKit/Sources/Sync/PersistentContainer.swift
Labels: bug, Core Data

#836 Loading View - Replace spinner with shapes animation
  PocketKit/Sources/Localization/Resources/en.lproj/Localizable.strings
  PocketKit/Sources/Localization/Strings.swift
  PocketKit/Sources/PocketKit/Collections/CollectionViewController.swift
  PocketKit/Sources/PocketKit/Collections/CollectionViewModel.swift
  PocketKit/Sources/PocketKit/Home/LoadingCell.swift
  PocketKit/Sources/PocketKit/Settings/DeleteAccountView.swift
  PocketKit/Sources/SharedPocketKit/PocketLoadingView.swift
  PocketKit/Sources/SharedPocketKit/UIView+Utilities.swift
  PocketKit/Sources/Textile/Style/Style+DeleteAccountView.swift
  PocketKit/Sources/Textile/Style/Style+PocketLoadingView.swift
  PocketKit/Tests/PocketKitTests/Collections/CollectionViewModelTests.swift
  Tests iOS/Support/Elements/PocketAppElement.swift
Labels: Native Collections

#842 Widget Update services - remove Core Data logic from async operations
  PocketKit/Sources/Sync/Widgets/ItemWidgets/RecentSavesWidgetUpdateService.swift
  PocketKit/Sources/Sync/Widgets/ItemWidgets/RecommendationsWidgetsUpdateService.swift
Labels: bug, widgets

#846 Universal Links - Add navigation to an article selected from a widget
  PocketKit/Sources/Analytics/AppEvents/Home.swift
  PocketKit/Sources/PocketKit/Article/ReadableViewModel/ReadableViewModel.swift
  PocketKit/Sources/PocketKit/Article/ReadableViewModel/RecommendationViewModel.swift
  PocketKit/Sources/PocketKit/Article/ReadableViewModel/SavedItemViewModel.swift
  PocketKit/Sources/PocketKit/Collections/CollectionViewModel.swift
  PocketKit/Sources/PocketKit/Home/HomeViewController.swift
  PocketKit/Sources/PocketKit/Home/HomeViewModel.swift
  PocketKit/Sources/PocketKit/Main/MainViewModel.swift
  PocketKit/Sources/PocketKit/Main/RootViewModel.swift
  PocketKit/Sources/PocketKit/Services.swift
  PocketKit/Sources/PocketKit/Settings/AccountViewModel.swift
  PocketKit/Sources/PocketKit/UniversalLinks/UrlValidator.swift
  PocketKit/Sources/Sync/PocketSource.swift
  PocketKit/Sources/Sync/Source.swift
  PocketKit/Tests/PocketKitTests/Support/MockSource.swift
  PocketKit/Tests/PocketKitTests/UrlValidatorTests.swift
Labels: widgets, universal links

#854 Widgets - Add analytics event for opening recent saves or recommendations from a widget
  PocketKit/Sources/Analytics/AppEvents/Widgets.swift
  PocketKit/Sources/PocketKit/Home/HomeViewModel.swift
Labels: widgets, analytics
