Repository Pocket/pocket-ios, pull requests merged in 2023-07, with the labels that each got.

#785 Item Widgets: fix vertical thumbnail size
  PocketKit/Sources/ItemWidgetsKit/Views/ItemWidgetsRow.swift
Labels: bug, widgets

#809 Native Collections: add Collection Slug to CorpusItem in Unified Home
  PocketKit/Sources/PocketGraph/Fragments/CollectionSummary.graphql.swift
  PocketKit/Sources/PocketGraph/Fragments/CorpusItemParts.graphql.swift
  PocketKit/Sources/PocketGraph/Fragments/CorpusRecommendationParts.graphql.swift
  PocketKit/Sources/PocketGraph/Fragments/CorpusSlateParts.graphql.swift
  PocketKit/Sources/PocketGraph/Operations/Queries/HomeSlateLineupQuery.graphql.swift
  PocketKit/Sources/PocketGraph/user-defined-operations/unifiedHome.graphql
Labels: enhancement, Native Collections

#810 feat(collections): add saving and archiving a collection
  PocketKit/Sources/PocketKit/Collections/CollectionViewController.swift
  PocketKit/Sources/PocketKit/Collections/CollectionViewModel.swift
  PocketKit/Sources/PocketKit/MyList/SavesContainerViewController.swift
Labels: Native Collections

#813 Native Collections: show native collection view from slate detail and recent saves
  PocketKit/Sources/PocketKit/Home/HomeViewController.swift
  PocketKit/Sources/PocketKit/Home/HomeViewModel.swift
  PocketKit/Sources/PocketKit/Home/SlateDetailViewModel.swift
Labels: enhancement, Native Collections
